.imageUpload {
    display: flex;
    flex-direction: column;
}

.uploadComponent {
    display: flex;
    justify-content: center;
}

.instruction {
    display: flex;
    justify-content: center;
}