.imageAndDescription2 {
    margin: auto;
    /* max-width: 495px; */
}


.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.description2 {
    max-width: 900px;
    overflow: auto;
    max-height: 560px;
    margin-bottom: 25px;
    background-color: snow;
}

.adminButtons
{
    margin: auto;
}

.followButton {
    max-width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}